/Semana1/Session2Taller1/nbproject/private/
/Semana1/Session2Taller1/build/
/Semana1/Session2Taller1/dist/
/Semana1/Seasson3/nbproject/private/
/Semana1/Seasson3/build/
/Semana2/Calculadora/nbproject/private/
/Semana2/Calculadora/build/
/Semana1/TallerExcepciones/nbproject/private/
/Semana1/TallerExcepciones/build/
/Semana1/TallerExcepciones/dist/
/Semana2/tutorialGrafico/nbproject/private/
/Semana2/tutorialGrafico/build/